// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,800italic,400,300,600,700,800|Oswald:400,300,700);
@import 'foundation/components/global';
@import 'foundation/components/grid';
@import 'foundation/components/reveal';
$font-family1: 'Open Sans', sans-serif;
$font-family2: 'Oswald', sans-serif;

body, html{
	font-family: $font-family1;
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	font-weight: 100;
}

.clear{
	clear: both;
}

.adp-legal {
	color: #676767;
	display: none;
	visibility: hidden;
}
#head{
	background-image: url("wallpaper5.jpg");
	background-size: cover;
	color: #FFF;
	padding: 15px 0px;
}
div.mainpage{
	font-size: 28px;
	font-family: $font-family2;
	text-align: center;

	input[type='text'] {
		margin: 0px;
		font-size: 28px;
		/*width: 100px;*/
		font-weight: 100;
		padding: 0px;
		border: 0px;
		text-decoration: underline;
		font-family: $font-family2;
		text-align: center;
		background-color: transparent;
	}
}

.reveal-modal{
	width: 98%;
	max-width: none;
}

.reveal-modal-bg {
	background: rgba(210, 210, 210, 0.75);
}

.custom-modal{
	background-color: #FFF;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	top: 10px;

	.in{
		background-color: #FFF;
	}
}

table{
	&.travel-points{
		display: block;
		tbody {
			width: 100%;
			display: inline-block;
		}
		tr{
			padding: 7px 12px;
			border-bottom: 1px solid #999;
			display: block;
		}
	}

}

.congestion{
	min-height: 100%;
	background-color: #E4F4F4;
	padding: 48px 0px;

	.title {
		font-size: 40px;
		font-weight: 100;
		text-align: center;
		font-family: $font-family2;
		margin-bottom: 28px;
	}

	.congestion_chart{
		display: block;
		width: (100%/1);
		float: left;
		.chart{
			display:block;
		}
		.holder{
			padding: 9px;
		}
	}
}

.about{
	padding: 50px;
	background-color: #EEEAEA;
	.title{
		font-size: 47px;
		text-align: center;
		display: block;
		padding: 8px;
	}

	.content{
		margin: 10px 0px;

		div.holder{
			width: (100%/3);
			float: left;
			color: #888;
			text-align: center;

			.inner{
				background-color: #FFF;
				margin: 0px 6px;
				padding: 26px 13px;
				font-size: 22px;
				line-height: 1.3em;
			}	
		}
	}
}

.team{
	padding: 60px 0px;
	background-color: #f9f9fa;

	.title{
		text-align: center;
		font-size: 28px;
		padding: 8px 0px;
	}

	.holder{
		padding: 0px 12px;
	}

	.member{
		float: left;
		width: (100%/3);
		text-align: center;

		img{
			display: block;
			width: 170px;
			margin: auto;
			border-radius: 50%;
			height: 170px;
			filter: blur(0px) grayscale(89%);
			-webkit-filter: blur(0px) grayscale(89%);
			transition: filter 0.7s ease-out;
			-webkit-transition: -webkit-filter 0.7s ease-out;

			&:hover{
				cursor: pointer;
				filter: blur(0) grayscale(0);
				-webkit-filter: blur(0) grayscale(0);
			}
		}

		.name{
			font-weight: 400;
			font-size: 20px;
			font-family: $font-family2;
		}
		.desc{
			font-size: 13px;
		}
	}
}

.info {
	margin: 50px auto;
	width: 70%;
	text-align: justify;
	font-size: 18px;
	border: solid 1px #888;
	padding: 22px 20px;

	.alert{
		text-align: center;
		font-family: 'Oswald', sans-serif;
		font-size: 29px;
		border-top: dotted 2px #999;
		margin-top: 22px;
		color: #D00;
	}
}

nav{
	display: inline-block;

	a{
		display: inline-block;
		text-decoration: none;
		font-size: 20px;
		padding: 20px 40px;
		margin: 0px;
		color: #666;
		font-family: $font-family2;
		transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;

		&:hover{
			background-color: rgba(200,200,200,0.5);
		}
	}
}

button {
	background-color: #4374E0;
	color: #FFF;
	border: none;
	padding: 12px 24px;
}
footer{
	background-color: #000;
	color: #FFF;
	padding: 12px;
	font-size: 18px;
	text-align: center;
}