<!-- <div class="large-8 columns">
	<img alt="Staticmap?size=450x300&amp;sensor=false&amp;zoom=16&amp;markers=6.6666004%2c 1" src="http://maps.google.com/maps/api/staticmap?size=450x300&amp;sensor=false&amp;zoom=16&amp;markers=6.6666004%2C-1.6162709">
</div>
<div class="large-4 columns">
	Travel Points
	<table class="travel-points">
		<tr>
			<td>Travel point 1</td>
		</tr>
		<tr>
			<td>Travel point 2</td>
		</tr>
		<tr>
			<td>Travel point 3</td>
		</tr>
		<tr>
			<td>Travel point 4</td>
		</tr>
		<tr>
			<td>Travel point 5</td>
		</tr>
		<tr>
			<td>Travel point 6</td>
		</tr>
		<tr>
			<td>Travel point 7</td>
		</tr>
	</table>
</div>
-->
<%= tabs %>